html, body {font-family: 'Architects Daughter', cursive !important;
			background-color: #F5CF20;
			margin: 0 0  auto;
			padding: 0 0 auto;
			overflow-x: hidden;}

p {font-size: 16px !important;}

.row {background-color: #F5CF20;
	overflow:hidden;}

#top {background-image: url("../images/pattern.png")}

.container {max-width: 960px;}

.thumbnail {overflow:hidden;
			height:550px;
			text-align: justify;}

.container #plato {float: right;
				clear: right;
				margin: 0px 10px 50px 10px;}

#middle {color:white;
		background-color: #BA1313;}

#table {background-color: #BA1313;
				color: white;}

#bottom {background-image: url("../images/pattern.png");}

#footer {background-color: #BA1313;
			text-align: center;
			color:white;
			margin: -1% !important;
			padding: 1% !important;}

.bars {margin-left: 20%;
	margin-right: 20%;}

#botonContacto {position:absolute;
				top: 500px;}

.container #contacto {padding-left: 35%;}

#subButton {color:white;
			background-color: #BA1313;
			margin-left: 40%;}

.container #link {margin-left: 41%;
		text-decoration: none;
		color: #BA1313;}

.btn {background-color: #BA1313 !important;
	border-color: #BA1313 !important;}

.especial {color: #BA1313;}



