html {
	height: 100%;
	overflow-y: hidden;
}

body {
	background-image: url("../images/bgjungle.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
	background-color: #cccccc;}

#playerWrapper {
	visibility: hidden;
	padding-left: 200px;
}

header {
	padding-left: 2%;
	padding-top: 15%;
	margin: 0 auto;
	width: 30%;}

header h1 {
	font-family: 'IM Fell Great Primer', serif;
	color: white;
	font-size: 3em;
	text-shadow: 3px 3px 10px black;
}

header h3 {font-family: 'IM Fell Great Primer';
	font-style: italic;
	text-align: center;
	color:white;
	font-size: 1.5em;
	padding-right: 5%;
	text-shadow: 2px 2px 10px black;
}

header #volumeMeter {margin: 0 auto;
	width: 30%;}

#image {
	position: absolute;
	vertical-align: center;
	margin-left: auto;
    margin-right: auto;
}

header #volumeMeter:hover {
	opacity: 0.3;
}

footer * {position: fixed;}

#circle {position: absolute;
	width: 50px; 
	height: 50px;
	margin-bottom: 3%;
	background: #C21111; 
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px; 
	border-radius: 25px; 
} 


#circle #triangle-right {
	position: absolute;
	padding: 0 auto;
	margin: 0 auto;
	width: 80%; 
	top: 40%;
	left: 40%;
	border-top: 5px solid transparent; 
	border-left: 10px solid white; 
	border-bottom: 5px solid transparent; 
}

#circle:hover {
	background: #790C0C
}

#circleWhite {position: relative;
	width: 50px; 
	height: 50px;
	left: 96.5%;
	margin-bottom: 3%;
	background: white; 
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px; 
	border-radius: 25px; 
} 

#cross {
	position: relative;
	font-family: 'IM Fell Great Primer';
	margin: 0 auto;
	width: 80%;
	padding-left: 30%;
	font-size: 2em;  
}

#cross {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#circleWhite:hover {
	cursor: default;
	background: #9E9E9E;
}

#popupYoutube {
	position: fixed;
	left: 5%;
	bottom: 10%;
	margin: 0 auto;
	width: 37%;
	background: #970000;
	font-family: 'IM Fell Great Primer';
	font-size: 1em;
	color: white;
	border-radius: 5px;
	border-style: solid;
	border-width: 15px;
	border-color: #970000;
	visibility: hidden;
}

#popupYoutube a:hover {
	text-decoration: underline;
}


#popupYoutube a {
	text-decoration: none;
	color: white;
}

#popupAbout {
	position: fixed;
	left: 57%;
	bottom: 10%;
	background: white;
	margin: 0 auto;
	font-family: 'IM Fell Great Primer';
	color: black;
	width: 37%;
	border-radius: 10px;
	border-style: solid;
	border-width: 15px;
	border-color: white;
	visibility: hidden;
