/* layout for the Isaac Brock Lyric Generator Website */

body {background-color: #171717 ;
	text-align:center;}

h1 {padding-bottom:1%;
	font-size:30px;
	font-family: 'Bitter', serif;}

p {font-family: 'Bitter', serif;}

.wrapper {width:800px;
		margin: 0 auto;
		background-color:#D2D2D2;
		background-position:center;
		padding-top:3%;}

.container {background-color:#FFFFFF;
		position:relative;
		bottom:18px;
		height:100px;
		margin:0;
		padding:0;
		margin-right:26%;
		margin-left:26%;
		border-radius: 0px 0px 25px 25px;}

.footer {padding-top:2.5%;
		padding-bottom:2.5%;
		background-color:#DEFF00}

.isaac {background-image: url('../images/spriteisaac.jpg');
	height: 150px;
	width: 125px;
	background-position: 0 0;
		}

.bradford {background-image: url('../images/spritebradford.jpg');
	height: 150px;
	width: 125px;
	background-position: 0 0;
		}

.malkmus {background-image: url('../images/spritestephen.jpg');
	height: 150px;
	width: 125px;
	background-position: 0 0;
		}

.isaac:hover {background-position: -125px 0;}
.bradford:hover {background-position: -125px 0;}
.malkmus:hover {background-position: -125px 0;}

.characters {position:relative;
			left:205px;
			font-size: 12px
		}

