@media all and (min-width: 2100px) {
	header {
		padding-left: 3%;
		h1 {
			padding-left: 24%;
		}
		#volumeMeter {
			padding-left: 16%
		}
	}
	#popupYoutube {
		width: 22%;
		a {
			padding-left: 60%;
		}
	}
}