@media all and (min-width: 1820px) and (max-width: 2100px) {
	header {
		padding-left: 3%;
		h1 {
			padding-left: 16%;
		}
		#volumeMeter {
			padding-left: 8%
		}
	}
	#popupYoutube {
		width: 28%;
		a {
			padding-left: 63%;
		}
	}
	#popupAbout {
		height: 8%;
	}
}