@media all and (min-width: 1420px) {
	header {
		padding-left: 3%;
		h1 {
			padding-left: 5%;
		}
		#volumeMeter {
			padding-left: 4%
		}
	}
	#popupYoutube {
		width: 37%;
		a {
			padding-left: 60%;
		}

	}
}