@media all and (min-width: 1600px) {
	header {
		padding-left: 3%;
		h1 {
			padding-left: 10%;
		}
		#volumeMeter {
			padding-left: 8%
		}
	}
	#popupYoutube {
		width: 34%;
		a {
			padding-left: 60%;
		}

	}
}